body{
    background-color: lightseagreen
}

.nav-link{
    font-weight: lighter;
}

.nav-link:hover{
    font-weight:bolder;
    background-color: #eee;
}
header{
    height:700px;
    width:100%;
    background-image:url("niffler.jpg");
    background-size:cover;
    text-align:center;
    font-family: 'Dancing Script', cursive;
}


header p{
    font-style: italic;
}
.aboutus {
    text-align: center;
}

.aboutus i{
    font-size:30px;
    padding: 25px 20px;
    
    /*chnage the color*/
    color: #fff;
    background-color: #5cb85c;
    
    /*resize container of the icon */
    width: 80px;
    height: 80px;
    
    /*make the container round */
    border-radius: 50%;
}

.aboutus span{
    width: 200px;
    display: inline-block;
}

.team img{
    width: 250px;
    height: 250px;
    /*Object fit will crop and center image based on width and height*/
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
}

/*Get Involved*/
.getinvolved{
    background-color: #5cb85c;
    text-align: center;
    padding:50px 0 80px;
    margin-top: 50px;
    width:100%;
}

.getinvolved h1{
    color: #fff;
}

.options{
    padding: 30px;
    margin: 10px;
    border: 1px solid #ccc;
    
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.getinvolved i{
    width: 50px;
    height: 50px;
    font-size: 40px;
}