body{
    background-color: lightseagreen
}

.nav-link{
    font-weight: lighter;
}

.nav-link:hover{
    font-weight:bolder;
    background-color: #eee;
}
header{
    height:700px;
    width:100%;
    background-image:url("niffler.jpg");
    background-size:cover;
    text-align:center;
    font-family: 'Dancing Script', cursive;
}


header p{
    font-style: italic;
}
.aboutus {
    text-align: center;
}

.aboutus i{
    font-size:30px;
    padding: 25px 20px;
    
    /*chnage the color*/
    color: #fff;
    background-color: #5cb85c;
    
    /*resize container of the icon */
    width: 80px;
    height: 80px;
    
    /*make the container round */
    border-radius: 50%;
}

.aboutus span{
    width: 200px;
    display: inline-block;
}